WCFWinFormTest/Service References/TestSvcRef/TestSvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TestSvc" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:17852/TestSvc.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:17852/TestSvc.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:17852/TestSvc.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFTest" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITestSvc_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ITestSvc_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ITestSvc_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="ITestSvc_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="ITestSvc_GetAppSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAppSettings" />
  </wsdl:message>
  <wsdl:message name="ITestSvc_GetAppSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAppSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="ITestSvc_WriteConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteConfig" />
  </wsdl:message>
  <wsdl:message name="ITestSvc_WriteConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteConfigResponse" />
  </wsdl:message>
  <wsdl:portType name="ITestSvc">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestSvc/GetData" message="tns:ITestSvc_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestSvc/GetDataResponse" message="tns:ITestSvc_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestSvc/GetDataUsingDataContract" message="tns:ITestSvc_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestSvc/GetDataUsingDataContractResponse" message="tns:ITestSvc_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAppSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestSvc/GetAppSettings" message="tns:ITestSvc_GetAppSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestSvc/GetAppSettingsResponse" message="tns:ITestSvc_GetAppSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteConfig">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestSvc/WriteConfig" message="tns:ITestSvc_WriteConfig_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestSvc/WriteConfigResponse" message="tns:ITestSvc_WriteConfig_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITestSvc" type="tns:ITestSvc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ITestSvc/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/ITestSvc/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppSettings">
      <soap:operation soapAction="http://tempuri.org/ITestSvc/GetAppSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteConfig">
      <soap:operation soapAction="http://tempuri.org/ITestSvc/WriteConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestSvc">
    <wsdl:port name="BasicHttpBinding_ITestSvc" binding="tns:BasicHttpBinding_ITestSvc">
      <soap:address location="http://localhost:17852/TestSvc.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>